@media screen and (max-width:792px) {
    .searchContainerHome {
        display: none;
    }

    .headingsProfileSection {
        display: none;
    }

}

@media screen and (max-width:440px) {
    .profileTagInNavbar {
        display: none;
    }

    .hamburgerButtonDiv {
        display: block;
    }
}

@media screen and (min-width:800px) {
    .hamburgerButtonDiv {
        display: none;
    }

    .buttonsidebarFromSideBar {
        display: none;
        transform: translateX(-100%);
    }
}

.buttonsidebarFromSideBar {
    transition: transform 0.5s ease;
}

.profileImageEditParentDiv {
    display: flex;
}

.profileImageResponsive {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}

.profileEditResponsive {
    margin-top: 5%;
    margin-left: 7%
}

.afterResponsiveProfileChangeIcon {
    display: none;
}

.completeProfileParentDiv {
    margin-top: 65px
}

@media screen and (max-width: 930px) and (min-width:600px) {

    .profileImageEditParentDiv {
        display: block;
        width: 100%;
    }

    .profileImageResponsive {
        margin-left: 40%;
        width: 100%;
    }

    .profileEditResponsive {
        margin-left: 20%;
        width: 100%;
    }

    .beforeResponsiveProfileChangeIcon {
        display: none;
    }

    .afterResponsiveProfileChangeIcon {
        display: block;
        margin-left: 50%;
    }
}


@media screen and (max-width: 600px) and (min-width: 100px) {
    .headingsProfileSection {
        display: none;
    }

    .completeProfileParentDiv {
        margin-top: 100px;
    }

    .profileImageEditParentDiv {
        display: block;
        width: 100%;
        /* margin-left: 50%; */
    }

    .profileImageResponsive {
        /* margin-left: 60%; */
        width: 100%;
    }

    .profileEditResponsive {
        /* margin-left: 40%; */
        width: 100%;
    }

    .beforeResponsiveProfileChangeIcon {
        display: none;
    }

    .afterResponsiveProfileChangeIcon {
        display: block;
        margin-left: 20%;
    }
}

@media screen and (max-width:1225px) {
    .headingsProfileSection {
        display: none;
    }
}

.buttonHamburgerOfAdminNavbar {
    display: none;
}

@media screen and (max-width:800px) {
    #defaultAdminSidebarParentDiv {
        display: none;
    }

    .buttonHamburgerOfAdminNavbar {
        display: block;
    }

}